<div class="container">

  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "Select category" %>
    <%= f.submit "Add restaurant!", class:"btn btn-success" %>
  <% end %>

</div>
